footer{
    
    background-color: #b3b3b3;
    color: #fff;
    padding: 10px;
    
}
.footer_container{
    display: flex;
}
.link_wrap_head{
    margin-left: 25px;
}
footer > .footer_container >.link_wrap{
    margin-right: 50px;
}

.footer_links > li > a{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    
}
.footer_links> li > a:hover{
    color: #000000;
    text-decoration: none;
}

footer > .footer_container > .contact_wrap{
    margin-right: 50px;
}

footer > .footer_container > .follow_wrap{
    margin-right: 50px;
}

footer > .footer_container > .logo_wrap{
    margin-left: auto;
}
footer > .footer_container > .logo_wrap > img{
    height: 60px;
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
}
footer > .footer_container > .logo_wrap > p{
    margin: 0;
}
footer > p{
    text-align: center;
}