html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	
  } 

.container {
	
	
	
}

.container > .wrap{
	width: 1000px;
	margin: 0 auto ;
	background-repeat : no-repeat ;
	background-color: aqua;
	
	

	
}

.heading{
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
}
			
 	
	 
			