html,body{
    padding: 0;
    margin: 0px;
    height: 100%;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
  background-image: linear-gradient( rgba(133, 133, 165, 0.47) 0%, rgba(12, 12, 14, 0.414) 10%);
  

} 


.intro > video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: 0.8;
  z-index: -1;/*this will send the video to the back*/
}

.intro h1 {
  position: absolute;
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  top: 280px;
  color: #2f0a78;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

  

.intro button {
  position: absolute;
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}
.intro button:hover {
  background-color: rgb(255, 0, 230);
}
/* .upcoming-tours{
  background-color: #5edaf0;
  
} */


.intro .playPause_btn{
  position: absolute;
  top: 700px;
  left: 10px;
  border-radius: 10px;
  background-color: rgba(12, 12, 14, 0.414);
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.intro .playPause_btn:hover{
  background-color: #8d8585;
  cursor: pointer;
}

.intro .playPause_btn img{
  height: 30px;
  width: 30px;
  
}
.services{
  background-image: url(https://a-z-animals.com/media/2022/01/shutterstock_1670759287-1024x625.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.services > .imgBox{
  margin-right: 8%;
  
  width: 600px;
  padding: 10px;
  text-align: center;
  height: fit-content;
  margin-top: 3%;
  
}
.img1{
  width: 250px;
  height: 200px;
}

.img2{
  /* display: relative; */
  right: 10;
  width: 300px;
  height: 250px;
  position: relative;
  left: 120px;
  bottom: 80px;
}

.img3{
  width: 310px;
  height: 240px;
  position: relative;
  left: 50px;
  top: 100px;
  
}

.img4{
  width: 270px;
  height: 180px;
  position: relative;
  left: 110px;
  bottom: 50px;
}
.services > .description{
  padding: 10px;
  background-color: azure;
  width: 550px;
  margin-left: 8%;
  height: fit-content;
  
}

.vl{
  border-left: 6px solid rgb(255, 255, 255);
  height: 300px;
  margin-top: 8%;
  margin-left: 15px;
  margin-right: 15px;
  
}

.services > .description > .topic > p{
  width: 500px;
  
}
.services > .description > .topic{
  background-color: rgb(46, 47, 161);
  padding: 5px;
  margin-top: 5px;
  
}


.feedContainer{
  background-image: url(https://rare-gallery.com/uploads/posts/129198-tropical-beach-boats-island-coconut-trees-4k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: auto;
  justify-content: space-between;
  
  
}

.feedbox{
  background-color: #e6a390;
  max-width: 400px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.feedbox > .pImg{
  width: 100px;
  height: 100px;
  background-color: #b63a17;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feedbox > .pImg > img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}